$p-black: #222326;
$p-dgrey: #808080;
$p-lgrey: #BFBFBF;
$p-white: #F2F2F2;

.Button {
  .Button-1, .Button-2, .Button-3 { transition: .3s all }
}

.ButtonClick {
  .Button-1 {
    width: 50%;
  }
  .Button-2 {
    width: 25%;
  }
  .Button-3 {
    width: 50%;
  }
}