$p-black: #222326;
$p-dgrey: #808080;
$p-lgrey: #BFBFBF;
$p-white: #F2F2F2;


@mixin cellphoneScreen {
  @media (max-width: 768px) {
    @content
  }
}

.FormButton {
  font-weight: bold;
  color: $p-dgrey;
  font-size: 1.125rem;

  &:hover, &:focus {
    box-shadow: 5px 5px 0 0 $p-dgrey;
    border-color: $p-black;
    color: $p-black;
  }
  &:active {
    box-shadow: 3px 3px 0 0 $p-dgrey;
    background-color: $p-black;
    color: $p-white;
    border-color: $p-black;
  }

  @include cellphoneScreen {
    &:hover, &:focus {
      box-shadow: none;
      border-color: $p-lgrey;
      color: $p-lgrey;
    }
    &:active {
      border-color: $p-black;
      color: $p-white;
      box-shadow: 4px 4px 0 0 $p-dgrey;
    }
  }
}