* {
  font-family: 'Inter';
  /* Remove the blue background of buttons on mobile */
  -webkit-tap-highlight-color: transparent;
  transition: .5s all;
}

@tailwind base;
@tailwind components;
@tailwind utilities;